<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>development</string> <!-- or "ad-hoc", "app-store", "enterprise" -->
  <key>teamID</key>
  <string>YOUR_TEAM_ID</string>
  <key>uploadBitcode</key>
  <false/>
  <key>compileBitcode</key>
  <false/>
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.anonymous.simpleiostodo</key>
    <string>YOUR_PROVISIONING_PROFILE_NAME</string>
  </dict>
  <key>stripSwiftSymbols</key>
  <true/>
</dict>
</plist>
